*{
    margin: 0;
    box-sizing: border-box;
    padding: 0; 
}

html,
body{
    background-image: linear-gradient(36deg, #a549f0, #ff00009e);
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container{
    background-color: aqua;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    flex-direction: column;
}

.bar{
    background-color: rgb(77, 68, 68);
    width: 85px;
    border-radius: 2px;
    height: 4px;
}

.precentage{
    
}

h3{
    font-size: 10px;
    margin-bottom: 27px;
}

.bars{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.process{
    background-color: rgb(165, 25, 25);
    width: 0;
}
