#one{
    border: solid black ;
    margin-right: 50px;
}

#tow{
    border: solid black ;
    padding: 50px;
    background-color: blue;
    color: greenyellow;
    border: solid blueviolet;
    margin-top: 25px;
}