/*h1{
    background-color: blue;
}
#m{
    background-color: brown;
}
/*div.bgcolor{
    background-color: red;
}
.bgcolor{
    background-color: violet;
}
div{
    color: red;
}*/
/*div, .bgcolor, div.bgcolor{
    color: peru;
}
*{
    background-color: blue;
}
*/
   /* div p{
       background-color:  aqua;
    }
div div{
    background-color: blueviolet;
}
div > p{
    background-color: blue;
}

div ~ p{
    color: goldenrod;
} 
  div + p{
    background-color: blue;
  } 
  .jai::before{
            content: "ke hal h";
            font-size: 50px ;
            color: rebeccapurple;
  }
  .jai::after{
    content: "ke hal h";
    font-size: 50px ;
    color: rebeccapurple;
}
.kalu::first-line{
        background-color : brown ;
}
.dk::selection{
      background-color: cyan;
}
::marker{
    color: blue;
}
a:link{
    background-color: brown;
}

a:visited{
    background-color: red;
}
a:hover{
    background-color: green;
}
a:active{
    background-color: bisque;
}
div:hover{
    background-color: green;
}*/
/*
#input:hover{
    font-size: blue;
}
 form:hover{
    font-size: 50px;
 } 
 a[href]{ 
    background-color: blue;
 }*//*
 a[href^=gk]{
    background-color: aqua;
 }*/
 
 

/* .jak{
        background-color: hsl(65, 30, 50);
 }*/
 /*div p{
    background-color: rgb(50, 60, 56);
 }*/
 /*.one{
    background-color: blue;
    padding: 50px;
    border-color: red;
    border-radius: 50px;
    border-bottom-left-radius: 555px;
 }
 .two{
    background-color: blue;
    padding: 50px;
    border-color: red;
    border-radius: 50px;
    border-bottom-left-radius: 555px;
 }*/
 /* .g{
    background-color: rgba(2, 5, 5, 0.5);
    width : 6ch
  }*/
 /* div{
    width: 60%;
    background-color: aquamarine;
  }
  p{
    width: 50%
  }*/

  /*div p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: aquamarine;

}*/

 div{
        display: flex;
    flex-direction: column;
    height: 47vh;
    justify-content: center;
    border: 4px dotted;
    align-items: center;
 }

  
 