 *{
    margin: 0;padding: 0;box-sizing: border-box;
    color: white;
 }

 html,
 body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
 }

 body{
    background: #111;
 }

 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
 }

 .nav1{
    display: flex;
    align-items: center;
    gap: 20px;
 }

 .nav1 img {
    height: 40px;
 }

 .nav1 h4{
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
 }

 .nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
 }

 .nav2 img{
    color: white;
 }