* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: black;
    color: white;
}

.inputs {
    display: flex;
    margin: 16px;
    flex-direction: column;
    max-width: 20%;
}

.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 2px solid grey;
    border-radius: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img{
        border-radius: 50%;
    background: red;
    width: 62px;
    height: 62px;
    overflow: hidden;
}

h5{
    padding: 2px 1px 7px 0px;
    font-size: inherit;
}

.doc{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
        gap: 40px;
}