 *{
    padding: 0;
    margin: 0;
}

html, 
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #222;
    color: rgb(87, 80, 80);
}
/*
.h1{
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.h1 input{
    display: none;
}

.h1 button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: rgb(9, 150, 119);
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
    
}*/
.main{
    padding: 30px;
    background-color: #222;
}
input{
    margin: 2px;
}
form{
    display: flex;
    flex-direction: column;
    width: 156px;
    margin: 5px;
}


.card{
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
    margin-top: 20px;
    border-radius: 10px;
}

.profile{
    
}